@import "tailwindcss";

@theme {
  --animate-marquee: marquee 36s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@utility hover-pause {
  &:hover .animate-marquee {
    animation-play-state: paused;
  }
}